.visit-booking {
    background: #fff;
    padding: 40px 20px;
    min-height: 100vh;
    max-width: 1400px;

    .container {
        max-width: 900px;
    }

    .arrow {
        display: flex;
        font-weight: 600;
        font-size: 24px;
        align-items: flex-start;

        img {
            vertical-align: middle;
            width: auto;
            height: 33px;
            padding-right: 10px;
        }

    }

    .booking-form {
        width: 100%;
        margin: 20px auto;
        font-family: Arial, sans-serif;
        padding: 0 15px;

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            label {
                font-weight: 700;
                margin-bottom: 6px;
                font-size: 18px;
            }

            input[type="text"] {
                padding: 10px;
                border: 1px solid #000000;
                border-radius: 6px;
                outline: none;
                font-size: 18px;
                font-weight: 600;
            }

            .dropdown-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                border: 1px solid #000000;
                border-radius: 6px;
                cursor: pointer;
                font-weight: 600;
                font-size: 18px;
                background: #fff;

                .drop-img {
                    transition: transform 0.3s ease;
                    vertical-align: middle;
                    width: 54px;
                    height: 20px;
                    padding-right: 16px;
                }

                &.open.drop-img {
                    transform: rotate(180deg);
                }
            }
        }

        .time-slot-options {
            border: 1px solid #000000;
            border-radius: 8px;
            padding: 10px;
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: #fff;

            .time-slot {
                display: flex;
                align-items: center;
                gap: 8px;


                input[type="radio"] {
                    margin-right: 8px;

                }

                .text {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        .done-btn {
            display: block;
            width: 100%;
            margin: 20px auto 0;
            padding: 10px;
            background: #ffd343;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                background: #f5c221;
            }
        }


        @media (max-width: 480px) {
            .visit-booking {
                .arrow {
                    img {
                        height: 26px;
                        width: auto;
                        vertical-align: middle;
                    }
                }
            }

            .form-group {
                label {
                    font-size: 18px;
                    font-weight: 600;
                }

                input[type="text"] {
                    font-size: 14px;
                    padding: 8px;
                }

                .dropdown-header {
                    font-size: 14px;
                    font-weight: 600;

                    .drop-img {
                        width: 50px;
                        height: 20px;
                    }
                }

                .time-slot {
                    .text {
                        font-size: 14px;
                        font-weight: 600;

                    }
                }

                .done-btn {
                    width: 100%;
                    font-size: 15px;
                    padding: 12px;
                }


            }


        }
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6) !important;
    z-index: 9999 !important;
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    align-items: center;
}

.success-modal {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(-50%, -50%) !important;
    outline: none;

    .modal-content {
        position: relative;
        display: flex;
        justify-content: center;
        width: 400px;
        border-radius: 12px;
        padding: 20px;
        text-align: center;
        background: #fff;
        outline: none;

        img {
            &.tickpopup {
                width: 130px;
                display: block;
                margin: 0 auto;

            }
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            margin-bottom: 20px;
        }

        .home-btn {
            background-color: #FFD34D;
            color: #000000;
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            transition: 0.3s all;

            &:hover {
                background-color: #e6b800;
            }
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            border: none;
            font-size: 24PX;
            line-height: 1;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .modal-content {
        max-width: 640px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 95vw !important;
        padding: 15px;
    }
}